.nav-use-defi {
    padding-top: 90px;
    width: 100%;
    background-color: black;
    height: 15rem;
}

.options-dropdown {
    max-width: 300px;
    margin-left: 4rem;
    margin-top: 2.5rem;
    position: relative;
    height: 50px;
    border: 1px solid white;
    box-shadow: 0 0 20px white;
    color:white;
    border: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
}
.option-dropdown-button{
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
.use-link-wrapper {
    width:calc(33% - 6px) ;
}
.use-nav-link {
    color:aliceblue;
    margin-right: 6px;
    background-color:transparent;
    cursor:pointer;
    font-weight: 500;
    text-transform: inherit;
    line-height: 1.75;
    border-radius: 8px;
    padding: 6px 16px;
    font-size: 0.8125rem;
}
.use-nav-link:hover {
    text-shadow: 2px -1px 3px white;
    font-size: 0.8725rem;
}


.glide-link-container {
    position: absolute;
    top: 120%;
    left: 0;
    padding: 15px;
    border-radius: 15px;
    background: rgb(7, 7, 7);
    box-shadow: 3px 3px 10px rgb(0 0 0 / 9%);
    font-weight: 500;
    color: black;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    z-index: 3;
    outline:none;
    border-color:#9ecaed;
    box-shadow: 0 0 20px #ffffff;
}

@media screen  and (max-width:576px){
    .dropdown-option-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
.options-dropdown {
    width: 200px;
    margin-left:0;
    margin-top: 2.5rem;
}
}